<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RewriteHandleConfiguration" type="ProxyService.RewriterHandlers.Configuration.RewriteHandlerConfigurationSection, ProxyService, Version=1.0.0.0, Culture=neutral" requirePermission="false"/>
  </configSections>
  <RewriteHandleConfiguration>
    <handles>
      <handle content-type="text/html" type="ProxyService.RewriterHandlers.HTMLRewriterHandler, ProxyService, Version=1.0.0.0, Culture=neutral">
          <rewrite name="href">
            <match>
              <![CDATA[href=["'](/.*?)['"]]]>
            </match>
            <replace>
              <![CDATA[href="/?t={host}$1]]>
            </replace>
          </rewrite>
          <rewrite name="url">
            <match>
              <![CDATA[url\s*\(["']?(.*)["']?\)]]>
            </match>
            <replace>
              <![CDATA[url("/?t={host}$1")]]>
            </replace>
          </rewrite>
      </handle>
      <handle content-type="test-type" type="ProxyService.RewriterHandlers.HTMLRewriterHandler, ProxyService, Version=1.0.0.0, Culture=neutral">
        <rewrite name="href_with_slash">
          <match>
            <![CDATA[href=["']((?!http:)/.*?)['"]]]>
          </match>
          <replace>
            <![CDATA[href="/?t={host}$1"]]>
          </replace>
        </rewrite>
        
        <rewrite name="href_without_slash">
          <match>
            <![CDATA[href=["']((?!http:)[^/].*?)['"]]]>
          </match>
          <replace>
            <![CDATA[href="/?t={host}/$1"]]>
          </replace>
        </rewrite>


        <rewrite name="href_with_http">
          <match>
            <![CDATA[href=["']((?=http:).*?)['"]]]>
          </match>
          <replace>
            <![CDATA[href="/?t=$1"]]>
          </replace>
        </rewrite>
      </handle>
    </handles>
  </RewriteHandleConfiguration>
</configuration>